{% extends 'docmaster.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Appoinment List</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card">
            
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                   
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <td>Status</td>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                     
                      <td>Anuragh</td>
                      <td>11/8/2014</td>
                      <td>10:20</td>
                      <td><span class="badge bg-danger">Pending</span></td>
                      <td><a href="{% url 'docvappdet' %}" type="button" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                      
                      <td>Anuragh</td>
                      <td>11/8/2014</td>
                      <td>10:20</td>
                      <td><span class="badge bg-danger">Pending</span></td>
                      <td><a href="{% url 'docvappdet' %}" type="button" class="btn btn-primary">View</a></td>
                    </tr>
               
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}