.p
{
    color:red ;
    font-family: Arial ;
    font-size:large;
    
   
         
  }
 .btn
 {
    background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  
        
}

input[type=text], select 
{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px ridge  rgb(2, 2, 2);
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  input[type=password], select 
  {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline;
    border: 1px ridge  rgb(2, 2, 2);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .log
{
    

    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 140px;
    
    
    
    
    
}
  /*
  img[alt="img2"]
  {
      height: 500px; 
      width: 600px;
  }
  *
  {
    color: #4CAF50;
    background-color: violet;
    font-size: large;
  } 
  */