{% extends 'patmaster.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>View Patient</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputtext1">Name</label>
                    <input type="text" class="form-control" id="exampleInputtext1"  value="{{details.p_name}}" disabled>
                  </div></div>
                  <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputtext2">Mobile Number</label>
                    <input type="number"  class="form-control" id="exampleInputtext2"  value="{{details.p_mob}}" disabled>
                  </div></div></div>
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext1">Address</label>
                      <input type="text" class="form-control" id="exampleInputtext1"  value="{{details.p_address}}" disabled>
                    </div></div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext2">District</label>
                      <select class="form-control" disabled>
                        <option disabled selected>{{details.p_district}} </option>
                       
      
                      </select>
                    </div></div></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email"  class="form-control" id="exampleInputEmail1"  value="{{details.p_email}}" disabled>
                        </div></div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext2">DOB</label>
                      <input type="date"  class="form-control" id="exampleInputtext2"  value="{{details.p_dob}}" disabled>
                    </div></div></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputtext1">Age</label>
                          <input type="number"  class="form-control" id="exampleInputtext1"  value="{{details.p_age}}" disabled>
                        </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Gender</label>
                      <br>
                      {% if details.p_gender == 'male' %}
                      <input type="radio"  value="male"  disabled >Male
                     
                    {% else %}
                   
                    <input type="radio"  value="female"  disabled>Female
                    {% endif %}
                       
                      </div>
                </div>
                </div>
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-xl">
                    Edit
                  </button>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-lg">
                    change password
                  </button>
                  
                 
                </div>
                <div class="modal fade" id="modal-xl">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Edit </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputtext1">Name</label>
                            <input type="text" name="pname" class="form-control" id="exampleInputtext1"  value="{{details.p_name}}" >
                          </div></div>
                          <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputtext2">Mobile Number</label>
                            <input type="number" name="pnumber" class="form-control" id="exampleInputtext2"  value="{{details.p_mob}}" >
                          </div></div></div>
                          <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputtext1">Address</label>
                              <input type="text" name="paddress" class="form-control" id="exampleInputtext1"  value="{{details.p_address}}" >
                            </div></div>
                            <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputtext2">District</label>
                              <select class="form-control" name="pdis">
                                <option  selected>{{details.p_district}} </option>
                                <option value="Thiruvananthapuram">Thiruvananthapuram </option>
                                <option value="Kollam">Kollam </option>
                                <option value="Pathanamthitta">Pathanamthitta </option>
                                <option value="Alappuzha">Alappuzha </option>
                                <option value="Kottayam">Kottayam </option>
                                <option value="Idukki">Idukki </option>
                                <option value="Ernakulam">Ernakulam</option>
                                <option value="Thrissur">Thrissur </option>
                                <option value="Palakkad">Palakkad </option>
                                <option value="Malappuram">Malappuram </option>
                                <option value="Kozhikode">Kozhikode </option>
                                <option value="Wauyanad">Wauyanad </option>
                                <option value="Kannur">Kannur </option>
                                <option value="Kasargod">Kasargod</option>
                                
              
                              </select>
                            </div></div></div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" name="pemail" class="form-control" id="exampleInputEmail1"  value="{{details.p_email}}" >
                                </div></div>
                            <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputtext2">DOB</label>
                              <input type="date" name="pdob" class="form-control" id="exampleInputtext2"  value="{{details.p_dob}}" >
                            </div></div></div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputtext1">Age</label>
                                  <input type="number" name="page" class="form-control" id="exampleInputtext1" value="{{details.p_age}}" >
                                </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Gender</label>
                              <br>
                              {% if details.p_gender == 'male' %}
                              <input type="radio" name="pgender" value="male"  checked >Male
                              <input type="radio" name="pgender" value="female" >Female
      
                            {% else %}
                            <input type="radio" name="pgender" value="male"  >Male
                            <input type="radio" name="pgender" value="female" checked >Female
                            {% endif %}
                               
                              </div>
                        </div>
                        </div>
                          
                        </div>
                      </div>
                      <div class="modal-footer justify-content-between">
                        
                        <button type="submit" class="btn btn-primary" name="save">Save changes</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="modal-lg">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Change password </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="card-body">
                          <div class="form-group">
                            <label for="exampleInputtext1">Current Password</label>
                            <input type="password" name="current_pass" class="form-control" id="curpassword" >
                          </div>
                          <div class="form-group">
                            <label for="exampleInputtext1">New Password</label>
                            <input type="password" name="new_pass" class="form-control" id="npassword" >
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleInputtext2">Confirm Password</label>
                            <input type="password" name="confirm_pass" class="form-control" id="cpassword" >
                          </div>
                          
                        </div></div>
                          
                          
                      <div class="modal-footer justify-content-between">
                        
                        <button type="submit" class="btn btn-primary" name="savepass">Save changes</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}