{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Appoinment</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Doctor</label>
                    <div class="col-sm-12">
                        <!-- select -->
                        <div class="form-group">
                        
                          <select class="form-control" name="drname">
                            <option disabled selected>Doctor </option>
                            {% for i in doc %}
                            <option value="{{i.id}}">{{i.d_name}} - {{i.d_department}}</option>
                            
                            {% endfor %}
                          </select>
                          
                        </div>
                      </div>
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Patient</label>
                    <div class="col-sm-12">
                        <!-- select -->
                        <div class="form-group">
                          
                          <select class="form-control">
                            <option disabled selected>Patient </option>
                            {% for i in pat %}
                            <option value="{{i.id}}">{{i.p_name}} - {{i.p_mob}}</option>
                            {% endfor %}
                            
                          </select>
                          
                        </div>
                      </div>
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputdate">Date</label>
                    <input type="date" name="apdate" class="form-control" id="exampleInputdate" placeholder="date">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputdate">Time</label>
                    <input type="time" name="aptime" class="form-control" id="exampleInputdate" placeholder="date">
                  </div>
                
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <script>

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

  </script>
  {% endblock %}