{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Patient</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputtext1">Name</label>
                    <input type="text" name="drname" class="form-control" id="exampleInputtext1" placeholder="Enter Name">
                  </div></div>
                  <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputtext2">Mobile Number</label>
                    <input type="number" name="drnumber" class="form-control" id="exampleInputtext2" placeholder="Enter Number">
                  </div></div></div>
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext1">Address</label>
                      <input type="text" name="drname" class="form-control" id="exampleInputtext1" placeholder="Enter Name">
                    </div></div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext2">District</label>
                      <select class="form-control">
                        <option disabled selected>District </option>
                        <option value="Thiruvananthapuram">Thiruvananthapuram </option>
                        <option value="Kollam">Kollam </option>
                        <option value="Pathanamthitta">Pathanamthitta </option>
                        <option value="Alappuzha">Alappuzha </option>
                        <option value="Kottayam">Kottayam </option>
                        <option value="Idukki">Idukki </option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Thrissur">Thrissur </option>
                        <option value="Palakkad">Palakkad </option>
                        <option value="Malappuram">Malappuram </option>
                        <option value="Kozhikode">Kozhikode </option>
                        <option value="Wauyanad">Wauyanad </option>
                        <option value="Kannur">Kannur </option>
                        <option value="Kasargod">Kasargod</option>
      
                      </select>
                    </div></div></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div></div>
                    <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputtext2">DOB</label>
                      <input type="date" name="drnumber" class="form-control" id="exampleInputtext2" placeholder="Enter Number">
                    </div></div></div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputtext1">Age</label>
                          <input type="number" name="drname" class="form-control" id="exampleInputtext1" placeholder="Enter Name">
                        </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Gender</label>
                      <br>
                        <input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="male">Female
                       
                      </div>
                </div>
                </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}