{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Patient</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputtext1">Name</label>
                    <input type="text" name="ptname" class="form-control" id="exampleInputtext1" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext2">Mobile Number</label>
                    <input type="number" name="ptnumber" class="form-control" id="exampleInputtext2" placeholder="Enter Number">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="ptemail" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext3">Addres</label>
                    <input type="text" name="ptaddress" class="form-control" id="exampleInputtext3" placeholder="Enter Address">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">District</label>
                    <div class="col-sm-12">
                        <div class="form-group">
                          
                          <select class="form-control">
                            <option disabled selected>District </option>
                            <option value="Kozhikode">Kozhikode </option>
                            <option value="Eranamkulam">Eranamkulam </option>
                            
          
                          </select>
                        </div>
                      </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}