{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Appoinment List</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card">
            
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <td>Status</td>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Anuragh</td>
                      <td>Anuragh</td>
                      <td>11/8/2014</td>
                      <td>10:20</td>
                      <td><span class="badge bg-danger">Pending</span></td>
                     <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-lg">
                      Edit
                    </button>&nbsp;<button type="submit" class="btn btn-danger">Delete</button></td> 
                    </tr>
                    <tr>
                      <td>Anuragh</td>
                      <td>Anuragh</td>
                      <td>11/8/2014</td>
                      <td>10:20</td>
                      <td><span class="badge bg-danger">Pending</span></td>
                     <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-xl">
                      Edit
                    </button>&nbsp;<button type="submit" class="btn btn-danger">Delete</button></td> 
                    </tr>
                    <div class="modal fade" id="modal-lg">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Large Modal</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="card-body">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Doctor</label>
                                <div class="col-sm-12">
                                    <!-- select -->
                                    <div class="form-group">
                                      
                                      <select class="form-control">
                                        <option disabled selected>Doctor </option>
                                        <option>Anuragh - General</option>
                                        <option>Anuragh - General</option>
                                        
                                      </select>
                                    </div>
                                  </div>
                                
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Patient</label>
                                <div class="col-sm-12">
                                    <!-- select -->
                                    <div class="form-group">
                                      
                                      <select class="form-control">
                                        <option disabled selected>Patient </option>
                                        <option>Anuragh - 9048798538</option>
                                        <option>Anuragh - 9048798538</option>
                                        
                                      </select>
                                    </div>
                                  </div>
                                
                              </div>
                              <div class="form-group">
                                <label for="exampleInputdate">Date</label>
                                <input type="date" name="apdate" class="form-control" id="exampleInputdate" placeholder="date">
                              </div>
                              
                            </div>
                          </div>
                          <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}