{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Report List</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card">
            
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Lab Name</th>
                  
                    <th>Patient Name</th>
                    <th>Patient Number</th>
                    <th>Report Name</th>
                    <th>File</th>
                    <th>Date</th>
                  
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for i in list %}
                  <tr>
                    <td>{{i.r_addedby}}</td>
                   
                    <td>{{i.p_id.p_name}}</td>
                    <td>{{i.p_id.p_mob}}</td>
                    <td>{{i.r_name}}</td>
                    <td>{{i.r_path}}</td>
                    <td>{{i.r_date}}</td>
                   <td><a href="{% url 'viewlabreport' i.id %}" type="button" class="btn btn-primary">View</a></td> 
                  </tr>
                  {% endfor %}
                  
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}