{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>View Detailed report</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputtext1">Patient Name</label>
                    <input type="text" class="form-control" id="exampleInputtext1"  value="{{details.p_id.p_name}}" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext2">Patient Number</label>
                    <input type="number"  class="form-control" id="exampleInputtext2" value="{{details.p_id.p_mob}}"disabled >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext1">Report Name</label>
                    <input type="text"  class="form-control" id="exampleInputtext1"  value="{{details.r_name}}" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext1">Date</label>
                    <input type="date"  class="form-control" id="exampleInputtext1" value="{{details.r_date}}" disabled>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputtext1"> File</label>
                    <a href="{{details.r_path.url}}" target="_blank">Download File</a>
                    
                  </div>
                
                
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                 
                  
                 
                </div>
                
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}