{% extends 'bldmaster.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>View request</h1>
          </div>
     
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputtext1">Name</label>
                    <input type="text" name="drname" class="form-control" id="exampleInputtext1"  value="Anuragh" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext2">Mobile Number</label>
                    <input type="number" name="drnumber" class="form-control" id="exampleInputtext2" value="9048798538" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext2">Blood Group</label>
                    <input type="text" name="drnumber" class="form-control" id="exampleInputtext2" value="A+" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputtext2">Unit</label>
                    <input type="number" name="drnumber" class="form-control" id="exampleInputtext2" value="2" disabled>
                  </div>
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-success">Deliverd</button>
                        <button type="submit" class="btn btn-danger">Rejected</button>
                        
                          
                         
                       
                      </div>
                  </div>
                  
                </div>
                <!-- /.card-body -->
                
               
         
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}