{% extends 'bldmaster.html' %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Recieved List</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <div class="card">
            
              <!-- /.card-header -->
              <form id="quickForm" action="" method="POST">
                {% csrf_token %}
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sl no</th>
                    <th> no</th>
                    <th>Donor Name</th>
                    <th>Mobile</th>
                    <th>Group</th>
                    <th>Unit</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for i in list %}
                    <tr>
                      <td>{{ forloop.counter}}</td>
                      <td>{{i.id}}</td>
                      <td>{{i.do_id.do_name}}</td>
                      <td>{{i.do_id.do_mob}}</td>
                      <td>{{i.do_id.do_group}}</td>
                      <td>{{i.db_unit}}</td>
                      <td>{{i.db_date}}</td>
                     
                     <td><input type="hidden" value="{{i.id}}" name="did"><button type="submit" class="btn btn-danger">Delete</button></td> 
                    
                     
                    </tr>
                    
                    {% endfor %}
                 
                  
                  </tbody>
                  
                </table>
              </div>
              </form>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}